@import "variables";

html {
  scroll-behavior: smooth;
}

.header {
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  height: 72px;
  display: flex;
  padding: 0 87px 0 81px;
  justify-content: space-between;
  align-items: center;

  &__navigation {
    display: flex;
    align-items: center;

    & button {
      display: block;
      font-family: "Roboto", sans-serif;
      width: 80px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 2px;
      font-weight: 500;
      font-size: 13px;
      padding: 0;
      cursor: pointer;
    }
  }
}

.navigation {
  margin-right: 92px;

  & input {
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    height: 40px;
    font-size: 16px;

    &:focus {
      outline-color: $secondary-text-color;
    }

    &::placeholder {
      font-size: 16px;
      color: #626262;
    }
  }

  &__time {
    width: 65px;
    padding-left: 12px;
  }

  &__divider {
    font-size: 16px;
    font-weight: 300;
    color: $secondary-text-color;
  }

  &__address {
    width: 292px;
    padding-left: 36px;
    background: url("../images/location.png") no-repeat 12px;
  }

  &__sign-in {
    border: 1px solid #e0e0e0;
    margin-right: 16px;
    background: #fff;
    color: #1d1d1d;
    font-weight: 500;

    &:hover {
      color: $secondary-color;
    }
  }

  &__registration {
    margin-right: 16px;
    background: #262626;
    color: #fff;
    border: 0;
  }
}
